/*	CSS for nmr_wash manuals
 *	
 *	Edited from the HTML5 Boilerplate distribution
 *	Revised version copyright (c) 2013, Brian E. Coggins.  All rights reserved.
 */

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	font-weight: 500;
	text-align: center;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.75em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

p {
	font-family: 'Roboto', serif;
	font-weight: 300;
}

table, th, td {
	border: 1px solid black;
	font-family: 'Roboto', sans-serif;
}

th, td {
	padding: 10px;
}

th {
	font-weight: 500;
}

td {
	font-weight: 300;
}

h1 > a:link, h1 > a:active, h1 > a:hover, h1 > a:focus, h1 > a:visited, h2 > a:link, h2 > a:active, h2 > a:hover, h2 > a:focus, h2 > a:visited, h3 > a:link, h3 > a:active, h3 > a:hover, h3 > a:focus, h3 > a:visited, h4 > a:link, h4 > a:active, h4 > a:hover, h4 > a:focus, h4 > a:visited, h5 > a:link, h5 > a:active, h5 > a:hover, h5 > a:focus, h5 > a:visited, h6 > a:link, h6 > a:active, h6 > a:hover, h6 > a:focus, h6 > a:visited {
    color: black;
    text-decoration: none;
}

code {
	font-family: Menlo, Consolas, monospace;
	font-size: 0.8em;
}

pre {
	background-color: #EEEEEE;
    margin-bottom: 10px;
    overflow: auto;
    padding: 5px;
    width: auto;	
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

header {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
}

.author, .date {
	font-family: 'Roboto', sans-serif;
	font-size: 1.17em;
	font-weight: 500;
	margin: 0;
}

.pipe-script > p {
	background-color: #EEEEEE;
    margin-bottom: 10px;
    overflow: auto;
    padding: 5px;
    width: auto;	
}

#TOC {
	border-style: solid;
	border-width: 1px;
	padding-top: 40px;
	padding-bottom: 40px;
}

nav ul {
	margin: 0;
}

ol {
	font-family: 'Roboto';
	font-weight: 300;
}

.acknowledgements-author-sig > p {
	text-align: right;
	font-style: italic;
}

.copyright-block > p {
	font-size: 0.8em;
}

#outer {
	padding: 10px;
	background-color: WhiteSmoke;
}

#doc {
	max-width: 960px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: auto;
	background-color: White;
}

body {
	background-color: WhiteSmoke;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	background-color: WhiteSmoke;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
